/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #e2dada;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */

/*************************** 
          Mobile 
****************************/
html {
  max-width: 43.75em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav a,
nav a:link,
nav a:visited {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: #242b11;
  color: rgb(238, 234, 234);
  font-size: 2em;
}

nav a:hover,
nav a:focus {
  background-color: #01f05d;
  color: white;
}

nav a{
  text-align: center;
  margin: 0.46em;
}

.sm{
  display: flex;
  justify-content: space-evenly;
}

/********************************************
 Styles to be applied between 700 and 999px 
                Tablet 
********************************************/
@media screen and (min-width: 43.75em){
  html {
    max-width: 62.5em;
    min-width: 43.75em;
  }

  ul{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto;
    justify-content: none;
  }

  .sm{
      justify-content: center;
   }
}

/********************************************
  Styles to be applied above 1000 px
                Desktop
********************************************/
@media screen and (min-width: 62.5em){
  html {
    min-width: 62.5em;
    max-width: none;

  }  

  ul{
    display: flex;
    justify-content: space-evenly;
  }

  .sm{
    margin: 0;
    justify-content: center;
    display: flex;  
  }

/********************************************
      Styles the color scheme 
                Dark
********************************************/
@media (prefers-color-scheme: dark) {
   body {
    background-color: #2e2d2d;
  }

  nav a,
  nav a:link,
  nav a:visited {
    background-color: #E0FF8D;
    color: #222;
  }

  nav a:hover,
  nav a:focus {
    background-color: #071b0c;
    color: white;
  }


/********************************************
      Styles the color scheme 
                Light
********************************************/
@media (prefers-color-scheme: light) {
  /* Styles */
  body{
    background-color: #f6f8f1;
  }

  nav a,
  nav a:link,
  nav a:visited {
  background-color: #1d6e05;
  color: #f6f8f1;
  }

  nav a:hover,
  nav a:focus {
    background-color: #444040;
  }
}